/*********************************General classes*********************************/
thead th {
    background-color: #212529;
}
tbody td {
    background-color: #292d32;
}

/*********************************On NavBar*********************************/
#whiteLogo {
    width: 3.5em;
    margin-right: 1.5em;
    cursor: pointer;
}

#profile {
    width: 3.5em;
    cursor: pointer;
}

li button {
    margin-left: 1em;
    margin-right: 1em;
    width: 8em;
    height: 3em;
}

.button_bottom {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/*********************************On HomePage*********************************/
#logo {
    width: 10em;
}

.homepage_play_button {
    height: 8em;
    width: 15em;
    margin-top: 1.5em;
}

.homepage_edit_button {
    height: 4.5em;
    width: 12em;
    margin-top: 1.5em;
}

/*********************************On MusicListPage*********************************/
.button_music {
    height: 13em;
    width: 18em;
    margin-top: 3em;
    margin-left: 4.5em;
}

.music_info_leaderboard {
    margin-left: 5em;
    font-size: 1.2em;
    font-weight: bold;
}

.music_info_play_button {
    height: 9em;
    width: 15em;
}

.modal-content {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.modal-header .close {
    color: white;
    font-size: 2.5em;
    
}